body{
    background-color: #eaac7f;
}

hr{
    
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    border-color:gray;
}

h1{
    color: #493323;
}
h2{
    color: #493323;
}