
body{
    margin: 0 ;
}

h1{
    margin-top: 0;
}



.topContainer{
    background-color: aqua;
    height: 200px;
    width: 200px;
    border: solid 10px;
    padding: 20px;


}

.middleContainer{
    background-color: red;
    height: 200px;
    width: 200px;
    border:solid 20px;
    margin-left: 260px;
}

.bottomContainer{
    background-color: yellow;
    height: 200px;
    width: 200px;
    border: solid 10px;
    margin-left: 500px;
}