
body{
    margin: 0 ;
   
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color : #66BFBF;
    font-weight: normal;
}

h3{
    color: #11999E;
}

a{
    color:#11999E;
}

.top-container{
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
    margin-bottom: 50px;
}

.profile{
    color: #40514E;
}

.middle-container{
 
}



.skill-row{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.coding-img{
    width: 2.5rem;
    float: left;
    margin-right: 30px;
}

.aoe-img{
   float: right;
   margin-left: 30px;
}



.pro{
    text-decoration: underline;
}

.bottomCloud{
position: absolute;
left: 300px;
bottom: 300px;
}

.topCloud{
position: absolute;
right: 300px;
top: 50px;
}

.firstContainer{
    margin-top: 100px;
}

.contact-me{
    width: 50%;
    margin: 30px auto 30px auto ;
    line-height: 2;
}

.btn{
    background-color: #11999E;
    color: white;
    padding: 2.5px 30px 2.5px 30px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
   
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px 0;
    
}

.footer-link{
    margin: 0 20px 0 20px;
    display: inline-block;
    color: #11999E;
    text-decoration: none;
}

.copyright-bottom{
    color:white;
}